html, body, #mapid { 
    height: 100%;
    width: 100%;

}

.popup h2 {
    text-align: center;
}

.popup span{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.leaflet-marker-icon{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: inline-block;
    border: solid black .5px
}