html, body {
    font-family: Montserrat, "Helvetica Neue", sans-serif;
}
.text {
    padding-top: 60px;
    padding-left: 90px;
    padding-right: 90px;
}
.header {
    display: block;
    text-align: right;
    margin-top: 40px;
    margin-right: 40px;
}
