html, body{
    font-family: 'Lato', 'Georgia', 'serif';
}
p{
  margin: 15px;
}
h1 {
  text-align:center;
  font-weight: normal;
  margin: auto;
  color:black;
  line-height: 1;
  padding:60px 0px 0px 0px;
}
.template{
  font-size: 16px;
  float: left;
}

h2 {
  text-align:center;
  margin: auto;
  color: #000;
  line-height: 200%;
  padding: 30px 0px 60px 0px;
}

h3{
  color: #E98C84;
  text-align: center;
  padding-top: 60px;
}
h4 {
  text-align: center;
  padding: 0px, 0px, 0px, 0px !important;
}
.header {
  display: block;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 40px;
}
#mapid{
  width: 100%;
  height:500px;
  margin-bottom: 30px;
  border: 2px solid #F2F2F2;
}
.arrow{
  margin: auto;
  height: 40px;
  width: auto;
  display:block;
}
.inputLine{
  padding: 0px 0px 0px 0px;
}
.box{
  border: 2px solid black;
  border-radius: 10px;
}
.collapse{
  width: 100%;
}
#form{
  font-size: 30px;
  width: 100%;
  margin: auto;
  padding-top:30px;
  border: 1px solid #3A6A93 
}
#email{
  font-size: 30px;
  width: 100%;
  margin: auto
}
#input{
  background-color: #98C4C5;
  padding: 60px;
}
.template{
  width: 50%;
  margin:auto;
  margin-top:10px; 
  font-size: 20px;
  padding:5px;
  border: 1px solid #DADCE0;
  text-align:left;
  font-family: 'Lato', Georgia, serif;
  
}
li {
  font-size: 16px;
  padding-top:10px;
  font-family: 'Lato', Georgia, serif;
  list-style: none;
  text-align: left
}
iframe{
  width: 100%
};



.popup span{
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.leaflet-marker-icon{
  height: 13px;
  width: 13px;
  border-radius: 50%;
  display: inline-block;
  border: solid black .5px
}

.img-fluid{
  padding-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.legend{
  max-width:400px;
  max-height:100%;
  
}
.col{
  display:block;
  text-align: center; 
}
#legendTitle{
  padding-top:10px;
}
#legend{
  padding-top: 20px;
}